html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(0, 0, 0)!important;
}
section{
    padding: 50px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(50, 48, 48, 0.255);
}
#mainhero{
    background-color: transparent;
}
section h1{
    font-family: 'Young Serif', serif;;
}
section p{
    font-family: 'Roboto', sans-serif;
}
html, body {
    overflow-x: hidden;
}
.bodymain{
    background: url(photos/mainbeta.jpeg) no-repeat center/ cover;
}
.color-navbar {
    background-image: linear-gradient(rgb(0,0,0),rgba(255, 255, 255, 0))!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar-nav{
    margin-left: auto;
    padding-inline-end: 400px;
}
.nav-item{
    margin-left: 20px;
    font-size: 30px;
    font-weight: normal;
    transition: color 0.2s ease;
}
.brandlogo{
    filter: invert(100%);
}
.nav-item:hover{
    color: rgb(240, 92, 92);

}
.dropdown-menu {
    background-color: lightgray!important;
  }
.imgdec{
    width: 50px;
    height: auto;
    position: absolute;
    top: 600px;
    left: 470px;
    filter: invert(100%);
}
.hero{
    width: 100%;
    height: 100vh;
    /* background: url(66310-1663934898.jpeg) no-repeat center/ cover; */
    padding: 30px;
    margin-left: 40px;
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;

}
.hero-txt{
    margin-left: 20px;
    padding-top: 300px;
    width: fit-content;
    height: fit-content;

}

.hero-txt .title{
    color: rgb(240, 92, 92);
    font-size: 100px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    ;
    text-shadow: 2px 2px 3px black ;
    
}
.hero-txt .subheading{
    color: rgb(98, 236, 236);
    font-size: 29px;
    font-style: italic;
    padding-left: 50px;
    padding-right: 30px;
    text-shadow: 2px 2px 3px black ;

}

.hero-txt .link{
    position: relative;
    font-size: 15px;
    padding: 20px;
    left: 350px;
}
    
.backbl {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.219);
    color: white;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.backbl:hover {
    transform: scale(1.2);
    filter: invert(100%);
    text-decoration: underline;
}

#mainservices{
    height: 600px;
}


.serviceb {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
  #Shop {
    background-color: rgba(240, 92, 92, 0.825);
    
  }
  
  #Pickup {
    background-color: rgb(98, 236, 236,0.825);
    
  }
  
  #Delivery {
    background-color: rgb(252, 202, 70,0.825);
  }
  
.sbox {
    border-radius: 30px;
    width: 300px;
    height: 70px;
    padding: 10px;
    color: white;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    justify-content: center;
    display: inline-block;
  }
.learn-more {
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: 0; /* Initially set the opacity to 0 to make it invisible */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add transition for transform and opacity */
}
.sbox:hover{
    height: fit-content;
    width: 300px;
    transform: scale(1.2);
    border-style: solid ;
    border-color: black;
}
.sbox p {
    display: none; /* Initially hide the description text */
    transition: opacity 0.3s ease-in-out;
  }
  
  .sbox:hover p {
    display: block; /* Show the description text on hover */
    opacity: 1;
  }
.sbox:hover .learn-more {
    transform: translateX(100x); /* Shift the "learn more" text 10 pixels to the right on hover */
    opacity: 1; /* Make the "learn more" text visible on hover */
}
.sbox:hover .learn-more::after {
    text-align: right;
    content: "->"; 
}

.bgt{
    background-image: linear-gradient(90deg,rgb(240, 92, 92),rgb(98, 236, 236),rgb(252, 202, 70));
}
.testimonials {
    margin-top:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial-card {
    max-width: 400px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    background-image: linear-gradient(to bottom,rgb(240, 92, 92) 0%,white 5%,white 90%,rgb(98, 236, 236) );
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 20px 20px 20px rgba(255, 255, 255, 0.467);
    transition: all .4s ease;

}
.testimonial-card:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
  }
.testimonial-image {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}
.testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial-text {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}
.testimonial-author {
    color: black;
    font-weight: bold;
}
.testimonial-job {
    color: #888;
}


#mainportfolio .wrapper {
    margin-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
#mainportfolio .container {
    width:400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid rgb(240, 92, 92);
    transition: filter 0.3s ease;
}
#mainportfolio .container:hover {
    filter: invert(100%); 
}
#mainportfolio i {
    color: rgb(98, 236, 236);
    font-size: 2.5em;
    text-align: center;
  }
span.num {
    color: rgb(98, 236, 236);
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    padding: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }

 .cent{
    display: flex;
  justify-content: center;
  align-items: center;
 }
 .line-break {
    width: 100%;
  }
 .brands {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.brand-card {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: #ccc; /* Default greyscale background */
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, filter 0.3s;
    filter: grayscale(100%);
}

.brand-logo {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: filter 0.3s;
}

.brand-name {
    margin-top: 10px;
    font-weight: bold;
}

/* Add brand-specific styles */
.brand-logo.nike {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.iconscout.com%2Ficon%2Ffree%2Fpng-256%2Fnike-11-569338.png&f=1&nofb=1&ipt=73bb49e5ad96b49a13d869e3ad961bccecccba826e6c15f501e6b0acf1b30f8a&ipo=images'); /* Replace with Nike logo image */
}
.brand-logo.adidas {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ta6TlMqWcQ-RUVT47lyvAQHaHa%26pid%3DApi&f=1&ipt=9ea61fa27ecbb3f5e618553aebed5fc828e5a1dde682c0a43fcdbe29c4b0b71c&ipo=images  '); /* Replace with Adidas logo image */
}

.brand-logo.puma {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fpuma-png-download-1500.png&f=1&nofb=1&ipt=8c3e97a79000068aef0bf920fd4601bc886037bc0cff23afbb2be4339f47942a&ipo=images'); /* Replace with Puma logo image */
}

.brand-logo.reebok {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogodownload.org%2Fwp-content%2Fuploads%2F2017%2F06%2Freebok-logo-1.png&f=1&nofb=1&ipt=11e705aec622526e1c758287f765dc1a22ba7ec15ac6c64540a5ba77702a3afd&ipo=images'); /* Replace with Reebok logo image */
}

.brand-logo.converse {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.XU7Tu2wHrJtLtoVi9OHWfAHaHQ%26pid%3DApi&f=1&ipt=06bd5d4c278ccef1c1c2d3d4984e88c6207843f7eda2e84f485f1f5258d19757&ipo=images'); /* Replace with Converse logo image */
}

.brand-logo.vans {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogos-world.net%2Fwp-content%2Fuploads%2F2020%2F04%2FVans-Logo.png&f=1&nofb=1&ipt=2672221e8727f3c65dcd723d014fd46174aa314792afd4d159b2e224aba15637&ipo=images'); /* Replace with Vans logo image */
}

.brand-logo.newbalance {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogos-world.net%2Fwp-content%2Fuploads%2F2020%2F09%2FNew-Balance-Logo.png&f=1&nofb=1&ipt=ed911524894509035fcadf09250c6f39ba3e8111599c79a6ecf3094417ff0c79&ipo=images'); /* Replace with New Balance logo image */
}

.brand-logo.asics {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogos-download.com%2Fwp-content%2Fuploads%2F2016%2F03%2FAsics_logo.png&f=1&nofb=1&ipt=39d3259bc9bc36f6bef4c584ae64ea9eca63051e6e37cd56e3a802a4310c68c7&ipo=images'); /* Replace with ASICS logo image */
}

.brand-logo.saucony {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogos-world.net%2Fwp-content%2Fuploads%2F2020%2F04%2FSupreme-Logo.png&f=1&nofb=1&ipt=e9f478b5c2f91347f486656e5f46ba751a36f0ae2cd612f30fa702c0b6c75a90&ipo=images'); /* Replace with Saucony logo image */
}

.brand-logo.underarmour {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogosmarcas.net%2Fwp-content%2Fuploads%2F2020%2F04%2FUnder-Armour-Emblema.png&f=1&nofb=1&ipt=4e894050c157565d60e4271dd6ffdc7c62fc841c3a7863014415bc4a6a121705&ipo=images'); /* Replace with Under Armour logo image */
}


.brand-card:hover {
    transform: scale(1.1); /* Scale up on hover */
    filter: grayscale(0%); /* Remove greyscale on hover */
}
#maincontactus{
    height:600px
}
 .enq {
    padding: 30px;
    width: 600px;
    height: 300px;
    border-radius: 25px;
    text-align: center;
    margin: 30px;
    border: 2px solid white; 
    transition: box-shadow 0.3s ease-in-out;
  }
  .enq:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
  }
.btnstyle{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    padding: 10px 20px; /* Adjust padding for better button size */
    border-radius: 25px;
    text-align: center;
    color: black;
    background-color: rgb(252, 202, 70);
    border: 2px solid black; /* Adding a solid border */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer; /* Change cursor on hover */
}
.btnstyle:hover{
    background-color: white;
    color: black;
}
@media screen and (max-width: 1224px) {
    #mainportfolio .wrapper {
      flex-direction: row; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
      margin-top: 100px; /* Reduce top margin */
    }
  
    #mainportfolio .container {
      width: 90vw; /* Make the containers full width */
      max-width: 90%; /* Limit the maximum width */
      margin-bottom: 20px; /* Add space between containers */
      padding: 20px; /* Reduce padding */
      font-size: 14px; /* Adjust font size for smaller screens */
      text-align: left; /* Align text to the left */
      height: auto; /* Allow containers to grow in height */
    }
  
    span.num {
      font-size: 2em; /* Adjust font size */
    }
  }
 
  
 
  @media screen and (max-width: 862px) {
    #mainportfolio h3{
        font-size: 15px;
    }
    #mainportfolio p{
        font-size: 10px;
    }
    #mainportfolio .wrapper {
      flex-direction: row; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
      margin-top: 100px; /* Reduce top margin */
    }
  
    #mainportfolio .container {
      width: 100%; 
      height: 90px;/* Make the containers full width */
      max-width: 100%; /* Limit the maximum width */
      margin-bottom: 20px; /* Add space between containers */
      padding: 10px; /* Reduce padding */
      font-size: 10px; /* Adjust font size for smaller screens */
    }
  
    span.num {
      font-size: 2em; /* Adjust font size */
    }
  }
  @media screen and (max-width: 768px) {
    #mainportfolio .container {
        width: 100%; 
        height: 120px;/* Make the containers full width */
        max-width: 100%; /* Limit the maximum width */
        margin-bottom: 10px; /* Add space between containers */
        padding: 5px; /* Reduce padding */
        font-size: 8px; /* Adjust font size for smaller screens */
      }
  }


  @media screen and (max-width: 768px) {
    .testimonial-image {
        width: 60px; /* Adjust the image width for smaller screens */
        height: 60px; /* Adjust the image height for smaller screens */
      }
    
    .testimonial-card {
      max-width: 100%; /* Adjust the max width for smaller screens */
    }
  
    .testimonial-text {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  
    .testimonial-author,
    .testimonial-job {
      font-size: 12px; /* Adjust font size for smaller screens */
    }
  }

footer{
    bottom: 0px;
    background-color: gray;
  }
  footer p{
    color: black;
  }
  @media screen and (max-width: 1600px){
    #mainservices{
        height: 700px;
    }
    .serviceb {
        flex-direction: column;
        align-items: center;
      }
    .sbox{
        margin-bottom: 20px;
    }

  }
@media screen and (max-width: 1250px) {
    .services {
      padding: 20px;
    }
  
    .services h1 {
      font-size: 28px;
    }
  
    .services p {
      font-size: 16px;
      margin-bottom: 10px;
    }
  
    .serviceb {
      flex-direction: column;
    }
  
    .sbox {
      margin-bottom: 20px;
    }
  
    .sbox h2 {
      font-size: 20px;
    }
  
    .sbox p {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 550px) {
    .services {
      padding: 20px;
    }
  
    .services h1 {
      font-size: 20px;
    }
  
    .services p {
      font-size: 10px;
      margin-bottom: 0px;
    }
  
    .serviceb {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    }
  
    .sbox {
      margin-bottom: 10px;
      width: calc(70%);
      height: calc(50%);
    }
  
    .sbox h2 {
      font-size: 15px;
    }
  
    .sbox p {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    .hero {
      flex-direction: column; /* Stack elements vertically */
      align-items: center;
      text-align: center;
      margin-left: 0;
    }
  
    .hero-txt {
      margin: 20px 0;
      padding-top: 0;
      text-align: center;
    }
  
    .hero-txt .title {
      font-size: 60px; /* Adjust font size for smaller screens */
    }
  
    .hero-txt .subheading {
      font-size: 20px; /* Adjust font size for smaller screens */
      padding: 0;
    }
  
    .hero-txt .link {
      left: 0;
    }
  }
  @media screen and (max-width: 599px) {
    .hero-txt .title {
      font-size: 30px; /* Adjust font size for screens smaller than 600px */
    }
  
    .hero-txt .subheading {
      font-size: 15px; /* Adjust font size for screens smaller than 600px */
    }
  
    .hero-txt .link {
      left: 0;
    }
  }